


body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}

.dot {
  #stroke: #000;
  fill: #000;
}



.thumb{
    height: 12px;
    width: 12px;
}
.row{
    height: 15px;
}

#thumb_wrapper{
    float: left;
    height: 384px;
    width: 384px;
    background-color: #f99;
    margin-top: 58px;
}
#large_wrapper {
    float: left;
    padding: 15px;    
    height: 450px;
    width: 450px;
    background-color: #9f9;
    margin-top: 10px;
}
#graph_wrapper{
    float: left;
    height: 384px;
    width: 384px;
    #background-color: #99f;
    margin-top: 58px;
}


.large_image{
    margin-bottom: 30px;
}

.img_id_link{
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
    font-size: larger;
}

.img_id_link:hover{
    color: red;
}